@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --verde:(#36594F);
    --verde2:(#2F4A45);
    --verde3:(#3E534E);
    --vermelho:(#BF244E);
    --dourado:(#A68953);
    --background:(#D9D4C1);
    --album:(#FBF3EE);
    --corbase:(#0000);
    --corbase2:(#ffff);
    --corbase:(gray);
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    background-color: #3E534E;
    
}


a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
    background-color: #3e534e;
   
}

.titulo-empresa{
    background-color: #3e534e;
    color: white;
    padding-top: 20px;
}

.quest{
    font-size: 2rem;
}

.h1{
    text-align: center;
}
   
.titulo-empresa{
    text-align: center;
}

#burguer{
  
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

i#burguer:hover{
    background-color: black;
}

p{
    margin-left: 50px;
    color: white;
   
}

.left{
    margin-left: 200px;
}

.span-quem-somos{
    font-size: 30px;
}

.span{
    font-size: 30px;
}

section{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px;
}

.catalogo{
   
}

.album{
    
}

h3{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    border-bottom: 3px solid black;
}

.paragrafo-topo, .img-topo, .foto1, .foto2, .foto3{
    visibility: hidden;
   
}

